@use "_colors";

.article__img--float {
  float: left;
  margin: 0 30px 0 0;
  position: relative;

  time {
    display: inline-block;
    margin-top: 15px;
    opacity: 0.5;

    &::before {
      content: url(../icons/time-icon.svg);
      margin-right: 5px;
    }
  }
}

.article__img--one {
  background: url(../images/news_beauty.png) no-repeat;
  background-size: cover;
  height: 370px;
  width: 670px;
}

.article__img--one--info {
  display: flex;
  justify-content: space-between;

  p {
    opacity: 0.5;
  }
}

.article__img--flex {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin: 30px 0;
}
.article__img--two{
  background: url(../images/article-img-two.png) no-repeat;
  background-size: cover;
  margin-right: 5px;
  height: 360px;
  width: 383px;
}
.article__img--three{
  background: url(../images/article-img-three.png) no-repeat;
  background-size: cover;
  height: 360px;
  width: 383px;
}