@use '_colors';

.banner-info {
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.banner-info__index {
  height: 420px;
  display: flex;

  .banner-info__info {
    margin-bottom: 5%;
    max-width: 50%;
    margin-left: 50%;
  }

  div {
    max-width: 55%;
    height: 85%;
    background-color: colors.$lightergrey;
    padding-top: 2%;
  }
}

.banner-info__text {
  text-align: right;

  .title--light, h2 {
    text-align: right;
  }
}

.banner-info__index--img {
  background: url(../images/banner-info-index.png) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__triumph {
  height: 455px;
  display: flex;
  justify-content: right;

  h2 {
    text-align: left;
  }

  div {
    max-width: 55%;
    height: 75%;
    background-color: colors.$lightergrey;
    padding-top: 4%;

    p {
      text-align: left;
      max-width: 45%;
    }
  } 
}

.banner-info__triumph--img {
  background: url(../images/banner-info-triumph.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__treatments {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.banner-info__treatments--img {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.banner-info__treatments--img--1 {
  background: url(../images/banner-info-relax-massage.jpg) no-repeat;
  background-size: cover;
  width: 290px;
  height: 290px;
}

.banner-info__treatments--img--2 {
  background: url(../images/banner-info-aromatherapy.jpg) no-repeat;
  background-size: cover;
  width: 290px;
  height: 290px;
}

.banner-info__treatments--img--3 {
  background: url(../images/banner-info-rehabilitation.jpg) no-repeat;
  background-size: cover;
  width: 290px;
  height: 290px;
}

.banner-info__treatments--img--4 {
  background: url(../images/banner-info-manicure.jpg) no-repeat;
  background-size: cover;
  width: 290px;
  height: 290px;
}

.banner-info__about-us {
  max-width: 100%;
  height: 420px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;

  .banner-info--p {
    margin-bottom: 5%;
    max-width: 50%;
    margin-left: 50%;
  }

  div {
    max-width: 55%;
    height: 85%;
    background-color: colors.$lightergrey;
    padding-top: 2%;

    h2 {
      text-align: right;
    }
  }
}

.banner-info__about-us--img {
  background: url(../images/banner-info-about-us.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__relax {
  max-width: 100%;
  height: 455px;
  display: flex;
  justify-content: right;
  margin-top: 100px;
  margin-bottom: 100px;

  h2, .title--light {
    text-align: left;
  }

  div {
    max-width: 55%;
    height: 85%;
    background-color: colors.$lightergrey;
    padding-top: 2%;

    p {
      text-align: left;
      width: 68%;
    }
  }
}

.banner-info__relax--img {
  background: url(../images/banner-info-relax.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__relax--p {
  margin-bottom: 50px;
}

.banner-info__our-team {
  max-width: 100%;
  height: 680px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;

  .banner-info--p {
    margin-bottom: 5%;
    max-width: 50%;
    margin-left: 50%;
    background: none;
    padding-top: 0;
  }

  div {
    max-width: 45%;
    height: 85%;
    background-color: colors.$lightergrey;
    padding-top: 5%;
  }
}

.banner-info__our-team--img {
  background: url(../images/banner-info-our-team.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__services {
  max-width: 100%;
  height: 690px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;

  .banner-info--p {
    margin-bottom: 5%;
    max-width: 50%;
    margin-left: 50%;
    background: none;
    padding-top: 0;
  }

  div {
    max-width: 50%;
    height: 85%;
    background-color: colors.$lightergrey;
    padding-top: 2%;
  }
}

.banner-info__services--img {
  background: url(../images/banner-info-services.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}