@use '_colors';
 
footer {
  width: 100%;
}
 
/////////IMAGES BACKGROUND/////////
 
.form__massage {
  background: url(../images/footer_img.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 275px;
  color:white;
  margin: 0;
  }
 
.form-bg__flowers {
  background: url(../images/footer-aboutUs.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  color:white;
  margin: 0;
}
 
.form__hand {
    background: url(../images/footer-hand.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 305px;
    color:white;
    margin: 0;
}
 
  /////////contenedor de 1200 INDEX - ARTICLE/////////
 
.form__info {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
}
 
  ///////// TEXTO A LA PAR DEL FORM
    .form__info--block {
      display: block;
    }  
    .form__info--light {
      font-weight: lighter;
      font-size: 16px;
    }
   
    .form__info--bold {
      font-weight: bolder;
      font-size: 36px;
    }
 
    .our-team-form-label {
      display: block;
      width: 600px;
    }
 
    .form__info__description {
      font-size: 18px;
      width: 350px;
 
      span {
        color: colors.$darkorange;
      }
}

#email-formInfo {
  width: 45%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid colors.$lightgrey;
  margin: 0 30px;
}
 
  ///////// contenedor de 1200 HAND/////////
.form__hand--container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 275px;
  margin-top: 40px;
}
 
///////// TEXTO A LA PAR DEL FORM/////////
 
.form__hand--block {
  display: block;
}  
.form__hand--light {
  font-weight: lighter;
  font-size: 16px;
}
 
.form__hand--bolt {
  font-weight: bolder;
  font-size: 36px;
}
 
.form__container-hand {
  width: 60%;
}
 
.form__hand .our-team-form-label {
  display: block;
  width: 600px;
}
 
.form__hand--description {
  font-size: 18px;
  width: 350px;
 
  span {
    color: colors.$darkorange;
  }
}  
 
.form__hand #name-hand {
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  margin-top: 30px;
}
 
.form__hand #email-hand {
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  margin: 30px 0;
}
 
  /////////contenedor de 1200 OUR TEAM  /////////
 
.form__our-team {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  margin-top: 40px;
 
}
 
///////// TEXTO A LA PAR DEL FORM
 
.form__our-team--block {
  display: block;
}  
.form__our-team--light {
  font-weight: lighter;
  font-size: 16px;
}
 
.form__our-team--bolt {
  font-weight: bolder;
  font-size: 36px;
}
 
.form__our-team .our-team-form-label {
  display: block;
  width: 600px;
}
 
.form__our-team--description {
  font-size: 18px;
  width: 350px;
 
  span {
    color: colors.$darkorange;
  }
}
 
  ///////// CAJA BLANCA ABOUT US   /////////
 
.form__card-our-team {
  width: 370px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  color: colors.$darkgrey;
  padding: 30px;
}
 
#name-our-team, #phone-our-team,
#email-our-team  {
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid colors.$lightgrey;
  margin-top: 30px;
}
 
.form__politics {
  display: flex;
  margin: 30px 0;
}
 
.form__politics--label {
  margin-left: 10px;
  span {
    color: colors.$darkorange;
  }
}
 
  ////////// FOOTER NAV GRIS  /////////
 
.footer {
background-color: #303030;
  background-color: colors.$darkgrey;
  width: 100%;
}
 
.footer__nav {
  background-color: colors.$darkgrey;
  color: colors.$darkorange;
  color: #E27D60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;  
}
 
.footer__nav--logo {
  background: url(../images/millious-footer.png) no-repeat;
  background-size: cover;
  height: 20px;
  width: 100px;
}
 
.footer__nav__social {
  display: flex;
  align-items: center;
  justify-content: center;
 
  li {
    position: relative;
  }
}
 
.footer__nav__social--facebook::before {
  content: url(../icons/footer-facebook.svg);
  margin-right: 15px;
}
 
.footer__nav__social--vimeo::before {
  content: url(../icons/footer-vimeo.svg);
  margin-right: 15px;
}
 
.footer__nav__social--instagram::before {
  content: url(../icons/footer-instagram.svg);
  margin-right: 15px;
}
 
.footer__nav__social--twitter::before {
  content: url(../icons/footer-twitter.svg);
}
 
.footer__list {
  display: flex;
  justify-content: right;
 
  li {
    list-style: none;
    margin-top: 20px;
    padding: 0 60px;
  }
 
  a {
    text-decoration: none;
    color: white;
  }
}
 
.footer__list--info {
  display: flex;
  flex-direction: column;
 
  span {
    justify-content: center;
    padding: 0 60px;
  }
}
 
.footer__list--quick-links {
  display: flex;
  flex-direction: column;
 
  span {
    justify-content: left;
    padding: 0 60px;
  }
}
 
.footer__list--contact {
  display: flex;
  flex-direction: column;
  text-align: left;
 
  span {
    justify-content: left;
    padding: 0 60px;
  }
}
 
.footer__rights {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
 
  p {
    font-size: 14px;
  }
}
 
.form__contact {
  background-color: #fff;
}

input::placeholder {
  font-weight: lighter;
  opacity: .5;
  padding: 10px;
}
