@use "_colors";

.navbar--flex {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.navbar__logo::after {
  content: url(../images/millious.svg);
}

.navbar__anchor a {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  position: relative;

  &::after {
    content: url(../icons/nav-anchor-arrow.svg);
    position: relative;
    left: 9px;
  }

  &:hover {
    color: colors.$darkorange;
  }

  &:nth-child(even) {
    padding: 0 25px;
  }
}

.navbar__search {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:after {
    content: url(../icons/nav-search-btn.svg);
  }

  &:hover {
    transform: scale(1.15);
  }
}

.navbar__booking {
  background-color: transparent;
  border: none;
  padding: 0 21px;
  cursor: pointer;

  &:after {
    content: url(../icons/nav-booking-btn.svg);
  }

  &:hover {
    transform: scale(1.15);
  }
}

.navbar__cart {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:after {
    content: url(../icons/nav-shopping-cart-btn.svg);
  }

  &:hover {
    transform: scale(1.15);
  }
}