
@use '_colors';




.article {
  &__img {
    &--float {
      float: left;
      margin: 0 30px 0 0;
      position: relative;
  
      time {
        display: inline-block;
        margin-top: 15px;
        opacity: 0.5;
  
        &::before {
          content: url(../icons/time-icon.svg);
          margin-right: 5px;
        }
      }
    }
    &--one {
      background: url(../images/news_beauty.png) no-repeat;
      background-size: cover;
      height: 370px;
      width: 670px;
  
      &--info {
        display: flex;
        justify-content: space-between;
  
        p {
          opacity: 0.5;
        }
      }
    }
    &--flex {
      display: flex;
      width: 1200px;
      justify-content: center;
      margin: 30px 0;
    }
    &--two{
      background: url(../images/article-img-two.png) no-repeat;
      background-size: cover;
      margin-right: 5px;
      height: 360px;
      width: 383px;
    }
    &--three{
      background: url(../images/article-img-three.png) no-repeat;
      background-size: cover;
      height: 360px;
      width: 383px;
    }
  }

  &__quote {
    margin: 40px 0;
    position: relative;
    &--bg {
      background-color: rgba(232, 168, 124, 0.2);
      width: 770px;
      height: 155px;
      margin: 0 auto;
      
      blockquote {
        width: 525px;
        margin: 0 auto;
        padding-top: 30px;
      }
    }

    &--flex {
      display: flex;
      align-items: center;
      position: relative;
      left: 215px;
      margin-top: 10px;

      figcaption {
        font-family: 'Libre Franklin', 'sans-serif';
        font-weight: 700;
        color: colors.$darkorange;
      }

      span {
        display: block;
        color: colors.$darkgrey;
        opacity: 0.5;
        font-weight: 400;
      }
    }

    &--img {
      background: url(../images/quote-img.png) no-repeat;
      background-size: cover;
      height: 50px;
      width: 50px;
      margin-right: 20px;
    }
  }
}


.container-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: fit-content;

  &--left {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    &::after {
      content: url(../icons/left-arrow.svg);
    }
  }

  &--right {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::after {
      content: url(../icons/right-arrow.svg);
    }
  }

  div{
    width: 30px;
    height: 3px;
    margin: 0 5px;
    background-color: colors.$darkgrey;
    opacity: 0.5;

    &:nth-child(2) {
      height: 6px;
      background-color: colors.$darkorange;
      opacity: 1;
    }
  }
}

// product 

.container__products__select{
  background-color: colors.$darkorange;
  height: 77px;
}

.section__products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 48px;

  button {
    cursor: pointer;
    background: none;
    border: none;
  }

  ul{
    display: flex;
    max-width: 1200px;

    button {
      font-size: 18px;
      font-weight: bold;
      color: white;
    }

    button::after{
      content: url(../icons/product-arrow.svg);
      position: relative;
      top: 4px;
    }
  }
}

.product-search::before {
  content: url(../icons/product-search.svg);
}

.product-menu::before {
  content: url(../icons/product-menu.svg);
}

.product {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 7%;

	.buttons {
		width: 100%;
	}
  &__images {
    display: flex;
  }

  &-backside {
    background: url(../images/product-backside.png) no-repeat;
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
  }

  &-features {
    background: url(../images/product-features.png) no-repeat;
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
  }

  &-img {
    background: url(../images/product-img.png) no-repeat;
    width: 170px;
    height: 170px;
  }

  &-massage_oil {
    background: url(../images/product-massage_oil.png) no-repeat;
    width: 370px;
    height: 570px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
		font-family: 'Libre Franklin', sans-serif;
    color: colors.$darkgrey;
    margin-top: 10px;
  }

  &__rating__text::before {
    content: url(../icons/product-rating.svg);
    padding-right: 20px;
    padding-top: 2px;
  }

  &__rating__text {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Libre Franklin', 'sans-serif';
  }

  &__category {
    display: flex;
    justify-content: space-between;
    align-content: center;

    &--name {
      background-color: colors.$darkorange;
      height: 20px;
      width: 135px;
      text-align: center;
      color: white;
      font-size: 18px;
      font-weight: bold;
      padding: 8px 0;
      margin: 0;
    }
  }

  &__reactions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: white;
    border: 1px solid colors.$lightgrey;
    border-radius: 3px;
    width: 120px;
    height: 34px;
  }
  
  &__amount {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 2px solid colors.$lightgrey;
    border-radius: 3px;
    width: 100px;
    height: 42px;
    margin: 40px 0;
  }

  &__left-arrow::before {
    content: url(../icons/product-left-arrow.svg);
    padding-right: 18px;
  }

  &__right-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;

  }

  &__left-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;

  }
  &__right-arrow::before {
    content: url(../icons/product-right-arrow.svg);
    padding-left: 18px;
  }

  &__number{
    font-size: 20px;
    font-weight: bold;
    color: colors.$darkgrey;
    margin: auto 0;
  }

  &__info {
    font-size: 16px;
    line-height: 19px;
    color: colors.$darkgrey;
    opacity: 0.5;
    font-family: 'Work Sans', sans-serif;
  }

  ul {
    list-style: inside;
  }

 
  &__social-media {
    margin: 40px 0;

    ul {
      list-style: none;
      justify-content: left;
    }
  }
}

.product__text {
  max-width: 1200px;
  margin: 50px auto;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  color: colors.$darkgrey;

  ul {
    list-style: outside;
		padding-left: 15px;
  }
}