@use "_colors";

.pricing .buttons {
  display: block;
  margin: 0 auto;
}

.pricing__ul {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 40px auto 40px auto;
}

.pricing__ul--flex {
  display: flex;
  width: 570px;
  align-items: flex-end;

  p {
    margin: 0;
  }
}

.pricing__ul__title {
  opacity: 1;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  min-width: fit-content;
}

.pricing__ul__divider {
  height: 2px;
  width: 100%;
  border-bottom: dotted colors.$darkgrey;
  position: relative;
  bottom: 5px;
}

.pricing__ul__price {
  opacity: 1;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: colors.$darkorange;
}