@use "_colors";

.container__products__select {
  background-color: colors.$darkorange;
  height: 77px;
}

.section__products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 48px;

  button {
    cursor: pointer;
    background: none;
    border: none;
  }

  ul {
    display: flex;
    max-width: 1200px;

    button {
      font-size: 18px;
      font-weight: bold;
      color: white;
    }

    button::after {
      content: url(../icons/product-arrow.svg);
      position: relative;
      top: 4px;
    }
  }
}

.product-search::before {
  content: url(../icons/product-search.svg);
}

.product-menu::before {
  content: url(../icons/product-menu.svg);
}

.product {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 7%;

  .buttons {
    width: 100%;
  }

  ul {
    list-style: inside;
  }
}

.product__images {
  display: flex;

  div {
  width: 200px;
  }
}

.product__images--backside, 
.product__images--features,
.product__images--photosection
 {
  width: 170px;
  height: 170px;
  margin-bottom: 30px;
}

.product__images--photosection {
  margin-bottom: 0;
}

.product__massage_oil {
  width: 370px;
  height: 570px;
}

.product__title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Libre Franklin", sans-serif;
  color: colors.$darkgrey;
  margin-top: 10px;
}

.product__rating-text::before {
  content: url(../icons/product-rating.svg);
  padding-right: 20px;
  padding-top: 2px;
}

.product__rating-text {
  font-size: 16px;
  font-weight: bold;
  font-family: "Libre Franklin", "sans-serif";
}

.product__category {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.product__category--name {
  background-color: colors.$darkorange;
  height: 20px;
  width: 135px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 0;
  margin: 0;
}

.product__reactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: white;
  border: 1px solid colors.$lightgrey;
  border-radius: 3px;
  width: 120px;
  height: 34px;
}

.product__reactions__like {
  width: 24px;
  height: 24px;
}

.product__reactions__share {
  width: 24px;
  height: 24px;
}

.product__amount {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 2px solid colors.$lightgrey;
  border-radius: 3px;
  width: 100px;
  height: 42px;
  margin: 40px 0;
}

.product__left-arrow::before {
  content: url(../icons/product-left-arrow.svg);
  padding-right: 18px;
}

.product__right-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product__left-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.product__right-arrow::before {
  content: url(../icons/product-right-arrow.svg);
  padding-left: 18px;
}

.product__number {
  font-size: 20px;
  font-weight: bold;
  color: colors.$darkgrey;
  margin: auto 0;
}

.product__info {
  font-size: 16px;
  line-height: 19px;
  color: colors.$darkgrey;
  opacity: 0.5;
  font-family: "Work Sans", sans-serif;
}

.product__text {
  max-width: 1200px;
  margin: 50px auto;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  color: colors.$darkgrey;

  ul {
    list-style: outside;
    padding-left: 15px;
  }
}

.product__social-media {
  margin: 40px 0;

  ul {
    list-style: none;
    justify-content: left;
  }
}