@use '_colors';

figure {
  width: 30%;
  margin: 0;
}

blockquote {
  background-color: #fff;
  border: colors.$lightgrey solid 3px;
  border-radius: 3px;
  padding: 5% 8%;
  margin: 0 0 10px 0;
}

.quote__container--flex {
	display: flex;
	width: 1200px;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 50px;
}

.quote__container--product {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;

	.quote__container--flex {
		width: 100%;

		figure {
			width: 48%;
			box-sizing: border-box;
			
			blockquote {
				width: 100%;
				box-sizing: border-box;
			}
		}
	}
}

.quote__img--flex {
	display: flex;
	align-items: center;

	figcaption {
		margin-left: 20px;
		color: colors.$darkorange;
		font-weight: 700;

		span {
			display: block;
			color: colors.$darkgrey;
			margin-top: 5px;
			font-weight: 400;
		}
	}
}

.quote__img--one {
	width: 50px;
	height: 50px;
	background: url(../images/quote-img-one.png);
}

.quote__img--two {
	width: 50px;
	height: 50px;
	background: url(../images/quote-img-two.png);
}

.quote__img--three {
	width: 50px;
	height: 50px;
	background: url(../images/quote-img-three.png);
}

// Article quote img
.quote__img--four {
	width: 50px;
	height: 50px;
	background: url(../images/quote-img-four.png);
}

.quote__img--five {
	width: 50px;
	height: 50px;
	background: url(../images/quote-img-five.png);
}

.quote__img--six {
	width: 50px;
	height: 50px;
	background: url(../images/quote-img-six.png);
}

.quote__img--stars {
	height: 15px;
	width: 105px;
	background: url(../icons/stars-icon.svg);
	margin-left: 30px;
}

// Article quote

.quote__container--orange-bg {
	margin: 40px 0;
	width: 1200px;
	display: flex;
	justify-content: center;

	figure {
		width: 65%;
	}

	blockquote {
		width: 100%;
		margin: 0 auto;
		border: none;
		background-color: rgba(232, 168, 124, 0.2);
		padding: 5% 10%;
		margin-bottom: 10px;
		box-sizing: border-box;
	}
}