@use "_colors";

////// TEXTO TOP

.doctors__description {
  text-align: center;
  margin-bottom: 42px;

  span {
    display: block;
  }
}

////// IMAGENES

.doctors__container__card--james {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--victoria {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--umar {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--melissa {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--bob {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--george {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--mark {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--malcolm {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

// Doctors cards

.doctors__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doctors__container__card {
  position: relative;
  margin-bottom: 30px;
}

.doctors__container__card__name {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: colors.$darkgrey;
  margin: 30px 0 10px 20px;
}

.doctors__container__card__position {
  margin: 0 0 0 20px;
}

.doctors__social {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 0.5px solid colors.$lightgrey;
  border-radius: 3px;
  width: 30%;
  padding: 7px 25px;
  left: 25%;
  bottom: 15%;
}

.doctors__social--facebook::before {
  content: url(../icons/footer-facebook.svg);
}

.doctors__social--twitter::before {
  content: url(../icons/footer-twitter.svg);
}

.doctors__social--instagram::before {
  content: url(../icons/footer-instagram.svg);
}

.doctors__btn {
  display: flex;
  justify-content: center;
  margin: 40px 0 100px 0;
}

.reviews {
  width: 100%;
  padding: 6% 0;
  background-color: colors.$lightgrey;
}

.reviews__container {
  width: 1200px;
  margin: 0 auto;
}

.reviews__container__info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    text-align: right;
    max-width: 570px;
  }

  h2 {
    text-align: right;
  }
}

.reviews__container__info--img {
  width: 570px;
  height: 280px;
  background: url(../images/reviews-massage.png) no-repeat;
  background-size: cover;
}

.doctors {
  margin-top: 100px;
}

