@use "_colors";

.services__skin {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
}

.services__skin--info {
  max-width: 50%;
  margin: auto 0;
  margin-right: 50px;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.services {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}

.services__images {
  display: flex;
  margin-right: 50px;
}

.services__text {
  display: block;
  margin-left: 50px;

  h2,.title--light {
    text-align: left;
  }
}

.services__images--candle {
  width: 285px;
  height: 370px;
}

.services__images--plants {
  width: 285px;
  height: 370px;
}

.services__images--skin {
  width: 570px;
  height: 350px;
  margin-left: 50px;
}

.services__promo {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
  color: #fff;
  background: rgb(61, 60, 103);
  background: linear-gradient(90deg,rgba(61, 60, 103, 1) 0%,rgba(73, 35, 90, 1) 17%,rgba(65, 52, 99, 1) 37%,rgba(82, 0, 67, 1) 59%,rgba(126, 75, 83, 1) 89%,rgba(139, 96, 88, 1) 100%);
}

.services__promo div {
  margin: auto 0;
}

.services__promo--description {
  opacity: 1;
  width: 583px;
  margin: 0;
}

.services__promo--title {
  opacity: 1;
  font-family: "Libre Franklin", "sans-serif";
  font-weight: 700;
  font-size: 64px;
  margin: 0 0 20px 0;

  span {
    color: colors.$darkorange;
  }
}

.services__promo--discount {
  opacity: 1;
  margin: auto 0;
  font-weight: 700;
  font-size: 64px;
  font-family: "Libre Franklin", "sans-serif";
  padding-left: 120px;
}