@use '_colors';

.banner-info__index {
  max-width: 100%;
  height: 420px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;

  .banner-info--p {
    margin-bottom: 5%;
  }

  div {
    max-width: 55%;
    height: 85%;
    background-color: #f2f1f1;
    padding-top: 3%;


    p {
      text-align: right;
      max-width: 45%;
      margin-left: 48%;
    }

    h2 {
      margin-right: 7%;
      color: colors.$darkorange;
      text-align: right;
    }

    a {
      margin-left: 78%;
    }

  }

  &--img {
    background: url(../images/banner-info-index.png) no-repeat;
    background-size: cover;
    width: 560px;
    height: 85%;
  }
}

.banner-info__triumph {
  max-width: 100%;
  height: 455px;
  display: flex;
  justify-content: right;
  margin-top: 100px;
  margin-bottom: 100px;

  .banner-info--p {
    margin-bottom: 5%;
  }

  div {
    max-width: 55%;
    height: 75%;
    background-color: #f2f1f1;
    padding-top: 4%;


    p {
      text-align: left;
      max-width: 35%;
      margin-left: 7%;
    }

    h2 {
      margin-right: 75%;
      color: colors.$darkorange;
      text-align: right;
    }
  }

  &--img {
    background: url(../images/banner-info-triumph.jpg) no-repeat;
    background-size: cover;
    width: 560px;
    height: 85%;
  }
}
