@use '_colors';

h2 {
  color: colors.$darkorange;
  font-size: 32px;
}

.banner-info__index {
  max-width: 100%;
  height: 420px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;

  .banner-info--text {
    text-align: right;
  }

  .banner-info--p {
    margin-bottom: 5%;
    max-width: 50%;
    margin-left: 50%;
  }

  div {
    max-width: 55%;
    height: 85%;
    background-color: #f2f1f1;
    padding-top: 2%;

    h2 {
      color: colors.$darkorange;
      text-align: right;
    }

  }

  &--img {
    background: url(../images/banner-info-index.png) no-repeat;
    background-size: cover;
    width: 560px;
    height: 85%;
  }
}

.banner-info__triumph {
  max-width: 100%;
  height: 455px;
  display: flex;
  justify-content: right;
  margin-top: 100px;
  margin-bottom: 100px;

  .banner-info--p {
    margin-bottom: 5%;
  }

  div {
    max-width: 55%;
    height: 75%;
    background-color: #f2f1f1;
    padding-top: 4%;


    p {
      text-align: left;
      max-width: 45%;
    }
  }

  &--img {
    background: url(../images/banner-info-triumph.jpg) no-repeat;
    background-size: cover;
    width: 560px;
    height: 85%;
  }
}
