.services__img {
  &--box {
    width: 900px;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    p {
      text-align: center;
      max-width: 230px;
    }

    h2 {
      text-align: center;
    }
  }
  
  &--one {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
  
    div {
      background: url(../icons/deep-tissue-icon.svg) no-repeat;
      background-size: contain;
      height: 100px;
      width: 100px;

      margin: 0 auto;
    }
  }
  
  &--two {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
  
    div {
      background: url(../icons/wellness-icon.svg) no-repeat;
      background-size: contain;
      height: 100px;
      width: 100px;
      margin: 0 auto;
    }
  }
  
  &--three {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
  
    div {
      background: url(../icons/reflexology-icon.svg) no-repeat;
      background-size: contain;
      height: 100px;
      width: 100px;
      margin: 0 auto;
    }
  }
}
