@use "_colors";

////// TEXTO TOP

.doctors-description {
  text-align: center;
  margin-bottom: 42px;
  span {
    display: block;
  }
}

////// IMAGENES
.doctors-img {
  &__james {
    width: 270px;
    height: 335px; //// REVISAR
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url(../images/doctors-james.png) no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  &__victoria {
    width: 270px;
    height: 335px; //// REVISAR
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url(../images/doctors-victoria.png) no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  &__umar {
    width: 270px;
    height: 335px; //// REVISAR
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url(../images/doctors-Umar.png) no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  &__melissa {
    width: 270px;
    height: 335px; //// REVISAR
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url(../images/doctors-melissa.png) no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  &__bob {
    width: 270px;
    height: 335px; //// REVISAR
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url(../images/doctors-bob.png) no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  &__george {
    width: 270px;
    height: 335px; //// REVISAR
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url(../images/doctors-george.png) no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  &__mark {
    width: 270px;
    height: 335px; //// REVISAR
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url(../images/doctors-mark.png) no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  &__malcolm {
    width: 270px;
    height: 335px; //// REVISAR
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url(../images/doctors-malcolm.png) no-repeat;
    background-size: cover;
    background-position-x: center;
  }
}

// Doctors cards

.doctors-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__card {
    position: relative;
    margin-bottom: 30px;

    &--name {
      font-family: 'Libre Franklin', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: colors.$darkgrey;
      margin: 30px 0 10px 20px;
    }

    &--position {
      margin: 0 0 0 20px;
    }
  }
}

.doctors-social {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 0.5px solid colors.$lightgrey;
  border-radius: 3px;
  width: 30%;
  padding: 7px 25px;
  left: 25%;
  bottom: 15%;

  &__facebook::before {
    content: url(../icons/footer-facebook.svg);
  }
  &__twitter::before {
    content: url(../icons/footer-twitter.svg);
  }
  &__instagram::before {
    content: url(../icons/footer-instagram.svg);
  }
}

.doctors__btn {
  display: flex;
  justify-content: center;
  margin: 40px 0 100px 0;
}

.reviews {
  &__bg {
    width: 100%;
    padding: 6% 0;
    background-color: colors.$lightgrey;
  }

  &__container {
    width: 1200px;
    margin: 0 auto;
  }

  &__info--container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      text-align: right;
      max-width: 570px;
    }
    h2 {
      text-align: right;
    }

    &--img {
      width: 570px;
      height: 280px;
      background: url(../images/reviews-massage.png) no-repeat;
      background-size: cover;
    }
  }
}

