// PARTIALS 
@use '_colors';
@use '_header';
@use '_services-banner';
@use '_news';
@use '_banner-info';
@use '_shop';
@use '_side-our-team';
@use '_non-repeated';
@use '_footer';

// GENERAL TAGS

body {
	font-family: 'Work Sans', sans-serif;
  font-weight: 400;
	box-sizing: border-box;
  color: colors.$darkgrey;
  margin: 0 auto;
  width: 100%;
}

h2 {
  color: colors.$darkorange;
  font-size: 32px;
}

ul {
  list-style: none;
  padding: 0;
}

p, li {
  font-size: 18px;
  opacity: 0.8;
}

h1, h2, h3, h4 {
  font-family: 'Libre Franklin', sans-serif;
}

h2 {
  text-align: center;
  color: colors.$darkorange;
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0;
}

a {
  text-decoration: transparent;
  color: colors.$darkgrey;
}

article {
  width: 1200px;
  margin: 100px auto;
}

// GENERAL CLASSES

.title--light {
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.buttons {
  padding: 10px 36px;
  background-color: colors.$darkgrey;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    background-color: colors.$darkorange;
  }
}

// quotes 

figure {
  width: 30%;
  margin: 0;
}

blockquote {
  background-color: #fff;
  border: colors.$lightgrey solid 3px;
  border-radius: 3px;
  padding: 5% 8%;
  margin: 0 0 10px 0;
}

.quote {
  &__container {
    &--flex {
      display: flex;
      width: 1200px;
      justify-content: space-between;
      margin-top: 60px;
      margin-bottom: 50px;
    }

    &--orange-bg {
      margin: 40px 0;
      width: 1200px;
      display: flex;
      justify-content: center;

      figure {
        width: 65%;
      }

      blockquote {
        width: 100%;
        margin: 0 auto;
        border: none;
        background-color: rgba(232, 168, 124, 0.2);
        padding: 5% 10%;
        margin-bottom: 10px;
        box-sizing: border-box;
      }
    }

    &--product {
      width: 1200px;
      margin: 0 auto;
      margin-bottom: 100px;
    
      .quote__container--flex {
        width: 100%;
    
        figure {
          width: 48%;
          box-sizing: border-box;
          
          blockquote {
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  &__img {
    &--flex {
      display: flex;
      align-items: center;
  
      figcaption {
        margin-left: 20px;
        color: colors.$darkorange;
        font-weight: 700;
  
        span {
          display: block;
          color: colors.$darkgrey;
          margin-top: 5px;
          font-weight: 400;
        }
      }
    }
  
    &--one {
      width: 50px;
      height: 50px;
      background: url(../images/quote-img-one.png);
    }
  
    &--two {
      width: 50px;
      height: 50px;
      background: url(../images/quote-img-two.png);
    }
  
    &--three {
      width: 50px;
      height: 50px;
      background: url(../images/quote-img-three.png);
    }
  
    &--four {
      width: 50px;
      height: 50px;
      background: url(../images/quote-img-four.png);
    }
  
    &--five {
      width: 50px;
      height: 50px;
      background: url(../images/quote-img-five.png);
    }
  
    &--six {
      width: 50px;
      height: 50px;
      background: url(../images/quote-img-six.png);
    }

    &--stars {
      height: 15px;
      width: 105px;
      background: url(../icons/stars-icon.svg);
      margin-left: 30px;
    }
  }
}