body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #303030;
  margin: 0 auto;
  width: 100%;
}

h2 {
  color: #E27D60;
  font-size: 32px;
}

ul {
  list-style: none;
  padding: 0;
}

p, li {
  font-size: 18px;
  opacity: 0.8;
}

h1, h2, h3, h4 {
  font-family: "Libre Franklin", sans-serif;
}

h2 {
  text-align: center;
  color: #E27D60;
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0;
}

a {
  text-decoration: transparent;
  color: #303030;
}

article {
  width: 1200px;
  margin: 100px auto;
}

.title--light {
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.buttons {
  padding: 10px 36px;
  background-color: #303030;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.buttons:hover {
  background-color: #E27D60;
}

.navbar--flex {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.navbar__logo::after {
  content: url(../images/millious.svg);
}

.navbar__anchor a {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  position: relative;
}
.navbar__anchor a::after {
  content: url(../icons/nav-anchor-arrow.svg);
  position: relative;
  left: 9px;
}
.navbar__anchor a:hover {
  color: #E27D60;
}
.navbar__anchor a:nth-child(even) {
  padding: 0 25px;
}

.navbar__search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navbar__search:after {
  content: url(../icons/nav-search-btn.svg);
}
.navbar__search:hover {
  transform: scale(1.15);
}

.navbar__booking {
  background-color: transparent;
  border: none;
  padding: 0 21px;
  cursor: pointer;
}
.navbar__booking:after {
  content: url(../icons/nav-booking-btn.svg);
}
.navbar__booking:hover {
  transform: scale(1.15);
}

.navbar__cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navbar__cart:after {
  content: url(../icons/nav-shopping-cart-btn.svg);
}
.navbar__cart:hover {
  transform: scale(1.15);
}

.header__title {
  position: relative;
  margin-top: 80px;
}
.header__title p {
  font-size: 12px;
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 2;
}
.header__title h1 {
  color: #E27D60;
  margin: 10px 0 0 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

.header__title--bg {
  background-color: #E6E6E6;
  opacity: 0.5;
  width: 90%;
  height: 144px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: -60%;
}

.hero-section {
  display: flex;
  position: relative;
  padding-top: 40px;
}

.hero-section__img {
  background: url(../images/container-welcome.png) no-repeat;
  background-size: cover;
  height: 449px;
  width: 55%;
  border-radius: 0 0 200px 0;
  z-index: 2;
}

.hero-section__info {
  padding-top: 100px;
  padding-left: 100px;
  z-index: 2;
}
.hero-section__info p {
  font-size: 18px;
  color: #303030;
  max-width: 440px;
  line-height: 22px;
}

.hero-section__title {
  font-size: 48px;
  max-width: 400px;
  margin: 0;
}
.hero-section__title span {
  color: #E27D60;
}

.hero-section__bg {
  background-color: #E8A87C;
  opacity: 0.5;
  height: 600px;
  width: 90%;
  border-radius: 0 0 0 200px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 40px;
}

.landing__services .buttons {
  display: block;
  margin: 0 auto;
}

.landing__services--ul {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 40px auto 40px auto;
}

.landing__services--ul--flex {
  display: flex;
  width: 570px;
  align-items: flex-end;
}
.landing__services--ul--flex p {
  margin: 0;
}

.landing__services--ul--title {
  opacity: 1;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
}

.landing__services--ul--divider {
  height: 2px;
  width: 390px;
  border-bottom: dotted #303030;
  position: relative;
  bottom: 5px;
}

.landing__services--ul--price {
  opacity: 1;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #E27D60;
}

.services__skin {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
}

.services__skin--paragraphs {
  max-width: 50%;
  margin: auto 0;
  margin-right: 50px;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.services__trusted {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}

.services__trusted--images {
  display: flex;
  margin-right: 50px;
}

.services__trusted--text {
  display: block;
  margin-left: 50px;
}
.services__trusted--text h2, .services__trusted--text .title--light {
  text-align: left;
}

.services__trusted--img1 {
  background: url(../images/services-candle.png) no-repeat;
  background-size: cover;
  width: 285px;
  height: 370px;
}

.services__trusted--img2 {
  background: url(../images/services-plants.png) no-repeat;
  background-size: cover;
  width: 285px;
  height: 370px;
}

.services__trusted--img3 {
  background: url(../images/services-skin.png) no-repeat;
  background-size: cover;
  width: 570px;
  height: 350px;
  margin-left: 50px;
}

.services__promo {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
  color: #fff;
  background: rgb(61, 60, 103);
  background: linear-gradient(90deg, rgb(61, 60, 103) 0%, rgb(73, 35, 90) 17%, rgb(65, 52, 99) 37%, rgb(82, 0, 67) 59%, rgb(126, 75, 83) 89%, rgb(139, 96, 88) 100%);
}

.services__promo div {
  margin: auto 0;
}

.services__promo--description {
  opacity: 1;
  width: 583px;
  margin: 0;
}

.services__promo--title {
  opacity: 1;
  font-family: "Libre Franklin", "sans-serif";
  font-weight: 700;
  font-size: 64px;
  margin: 0 0 20px 0;
}
.services__promo--title span {
  color: #E27D60;
}

.services__promo--discount {
  opacity: 1;
  margin: auto 0;
  font-weight: 700;
  font-size: 64px;
  font-family: "Libre Franklin", "sans-serif";
  padding-left: 120px;
}

.article__float {
  float: left;
  margin: 0 30px 0 0;
  position: relative;
}
.article__float time {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.5;
}
.article__float time::before {
  content: url(../icons/time-icon.svg);
  margin-right: 5px;
}

.article__float--img {
  height: 370px;
  width: 670px;
}

.article__float--info {
  display: flex;
  justify-content: space-between;
}
.article__float--info p {
  opacity: 0.5;
}

.article__flex {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin: 30px 0;
}

.article__flex--img1 {
  margin-right: 5px;
  height: 360px;
  width: 383px;
}

.article__flex--img2 {
  height: 360px;
  width: 383px;
}

figure {
  width: 30%;
  margin: 0;
}

blockquote {
  background-color: #fff;
  border: #E6E6E6 solid 3px;
  border-radius: 3px;
  padding: 5% 8%;
  margin: 0 0 10px 0;
}

.quote__container--flex {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 50px;
}

.quote__container--product {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.quote__container--product .quote__container--flex {
  width: 100%;
}
.quote__container--product .quote__container--flex figure {
  width: 48%;
  box-sizing: border-box;
}
.quote__container--product .quote__container--flex figure blockquote {
  width: 100%;
  box-sizing: border-box;
}

.quote__img--flex {
  display: flex;
  align-items: center;
}
.quote__img--flex figcaption {
  margin-left: 20px;
  color: #E27D60;
  font-weight: 700;
}
.quote__img--flex figcaption span {
  display: block;
  color: #303030;
  margin-top: 5px;
  font-weight: 400;
}

.quote__img--one {
  width: 50px;
  height: 50px;
  background: url(../images/quote-img-one.png);
}

.quote__img--two {
  width: 50px;
  height: 50px;
  background: url(../images/quote-img-two.png);
}

.quote__img--three {
  width: 50px;
  height: 50px;
  background: url(../images/quote-img-three.png);
}

.quote__img--four {
  width: 50px;
  height: 50px;
  background: url(../images/quote-img-four.png);
}

.quote__img--five {
  width: 50px;
  height: 50px;
  background: url(../images/quote-img-five.png);
}

.quote__img--six {
  width: 50px;
  height: 50px;
  background: url(../images/quote-img-six.png);
}

.quote__img--stars {
  height: 15px;
  width: 105px;
  background: url(../icons/stars-icon.svg);
  margin-left: 30px;
}

.quote__container--orange-bg {
  margin: 40px 0;
  width: 1200px;
  display: flex;
  justify-content: center;
}
.quote__container--orange-bg figure {
  width: 65%;
}
.quote__container--orange-bg blockquote {
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: rgba(232, 168, 124, 0.2);
  padding: 5% 10%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: fit-content;
}

.container-btn div {
  width: 30px;
  height: 3px;
  margin: 0 5px;
  background-color: #303030;
  opacity: 0.5;
}
.container-btn div:nth-child(2) {
  height: 6px;
  background-color: #E27D60;
  opacity: 1;
}

.container-btn--left {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container-btn--left::after {
  content: url(../icons/left-arrow.svg);
}

.container-btn--right {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container-btn--right::after {
  content: url(../icons/right-arrow.svg);
}

.services__title {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 5px 0 10px 0;
  opacity: 1;
}

.services__img--one {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.services__img--one div {
  background: url(../icons/deep-tissue-icon.svg) no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.services__img--two {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.services__img--two div {
  background: url(../icons/wellness-icon.svg) no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.services__img--three {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.services__img--three div {
  background: url(../icons/reflexology-icon.svg) no-repeat;
  background-size: contain;
  height: 100px;
  width: 90px;
  margin: 0 auto;
}

.services__img--box {
  width: 900px;
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.services__img--box p {
  text-align: center;
  max-width: 230px;
}
.services__img--box h2 {
  text-align: center;
  font-size: 36px;
  margin: 5px 0 10px 0;
}

.news {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.news--flex {
  display: flex;
  justify-content: space-between;
}
.news--flex h3 {
  color: #E27D60;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.news--flex p {
  margin: 0;
}
.news--flex time::before {
  content: url(../icons/news-calendar.svg);
  padding-right: 5px;
}
.news--flex time {
  font-size: 10px;
  color: #303030;
  opacity: 0.5;
}
.news--flex a::after {
  content: url(../icons/news-arrow.svg);
  padding-left: 5px;
  position: relative;
  top: 3px;
}
.news--flex a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}

.news__card {
  border: 1.5px solid #E6E6E6;
  border-radius: 4px;
  width: 30%;
  height: 395px;
}

.news__card--height {
  height: 476px;
  box-sizing: border-box;
}

.news__card__img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.news__card__category {
  background-color: white;
  border: 0.5px solid #E6E6E6;
  border-radius: 3px;
  text-align: center;
  width: 30%;
  padding: 7px 25px;
  position: relative;
  left: 27.5%;
  bottom: 4%;
}

.news__card__info {
  height: 30%;
  padding-left: 26px;
  padding-right: 26px;
}

.news__card__info-time--flex {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.news__card__info-time--flex p {
  font-size: 10px;
  font-size: 10px;
  color: #303030;
  opacity: 0.5;
}

.news__card__info__text {
  font-size: 14px;
  padding-bottom: 30px;
}

.news__card__img--height {
  height: 53%;
}

.banner-info {
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.banner-info__index {
  height: 420px;
  display: flex;
}
.banner-info__index .banner-info__info {
  margin-bottom: 5%;
  max-width: 50%;
  margin-left: 50%;
}
.banner-info__index div {
  max-width: 55%;
  height: 85%;
  background-color: #f2f1f1;
  padding-top: 2%;
}

.banner-info__text {
  text-align: right;
}
.banner-info__text .title--light, .banner-info__text h2 {
  text-align: right;
}

.banner-info__index--img {
  background: url(../images/banner-info-index.png) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__triumph {
  height: 455px;
  display: flex;
  justify-content: right;
}
.banner-info__triumph h2 {
  text-align: left;
}
.banner-info__triumph div {
  max-width: 55%;
  height: 75%;
  background-color: #f2f1f1;
  padding-top: 4%;
}
.banner-info__triumph div p {
  text-align: left;
  max-width: 45%;
}

.banner-info__triumph--img {
  background: url(../images/banner-info-triumph.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__treatments {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.banner-info__treatments--section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.banner-info__treatments--img {
  width: 290px;
  height: 290px;
}

.banner-info__about-us {
  height: 420px;
  display: flex;
}
.banner-info__about-us .banner-info__info {
  margin-bottom: 5%;
  max-width: 50%;
  margin-left: 50%;
}
.banner-info__about-us div {
  max-width: 55%;
  height: 85%;
  background-color: #f2f1f1;
  padding-top: 2%;
}
.banner-info__about-us div h2 {
  text-align: right;
}

.banner-info__about-us--img {
  background: url(../images/banner-info-about-us.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__relax {
  height: 455px;
  display: flex;
  justify-content: right;
}
.banner-info__relax h2, .banner-info__relax .title--light {
  text-align: left;
}
.banner-info__relax div {
  max-width: 55%;
  height: 85%;
  background-color: #f2f1f1;
  padding-top: 2%;
}
.banner-info__relax div p {
  text-align: left;
  width: 68%;
}

.banner-info__relax--img {
  background: url(../images/banner-info-relax.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__relax--info {
  margin-bottom: 50px;
}

.banner-info__our-team {
  height: 680px;
  display: flex;
}
.banner-info__our-team .banner-info__info {
  margin-bottom: 5%;
  max-width: 50%;
  margin-left: 50%;
  background: none;
  padding-top: 0;
}
.banner-info__our-team div {
  max-width: 45%;
  height: 85%;
  background-color: #f2f1f1;
  padding-top: 5%;
}

.banner-info__our-team--img {
  background: url(../images/banner-info-our-team.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.banner-info__services {
  height: 690px;
  display: flex;
}
.banner-info__services .banner-info__info {
  margin-bottom: 5%;
  max-width: 50%;
  margin-left: 50%;
  background: none;
  padding-top: 0;
}
.banner-info__services div {
  max-width: 50%;
  height: 85%;
  background-color: #f2f1f1;
  padding-top: 2%;
}

.banner-info__services--img {
  background: url(../images/banner-info-services.jpg) no-repeat;
  background-size: cover;
  width: 560px;
  height: 85%;
}

.shop {
  margin: 100px 0;
}

.shop__info {
  font-size: 18px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.shop--flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1200px;
  margin: 100px auto;
}

.shop__brands-change {
  background: url(../icons/shop-change.svg) no-repeat;
  width: 164px;
  height: 67px;
}

.shop__brands-blue_velvet {
  background: url(../icons/shop-blue_velvet.svg) no-repeat;
  width: 164px;
  height: 67px;
}

.shop__brands-hilroy {
  background: url(../icons/shop-hilroy.svg) no-repeat;
  width: 164px;
  height: 67px;
}

.shop__brands-nafia {
  background: url(../icons/shop-nafia.svg) no-repeat;
  width: 164px;
  height: 67px;
}

.shop__reactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
  left: 75px;
  top: -16px;
  background-color: white;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  width: 120px;
  height: 34px;
}

.shop__reactions__like {
  background: url(../icons/shop-like.svg) no-repeat;
  width: 24px;
  height: 24px;
}

.shop__reactions__share {
  background: url(../icons/shop-share.svg) no-repeat;
  width: 24px;
  height: 24px;
}

.shop__text {
  margin-top: -13px;
}

.shop__text__category {
  font-size: 10px;
  color: #303030;
  opacity: 0.5;
  margin: 10px 0;
}

.shop__text__product {
  font-size: 20px;
  font-weight: bold;
  color: #303030;
  margin: 10px 0;
}

.shop__text__price {
  font-size: 16px;
  font-weight: bold;
  color: #E27D60;
  margin: 10px 0;
}

.doctors__description {
  text-align: center;
  margin-bottom: 42px;
}
.doctors__description span {
  display: block;
}

.doctors__container__card--james {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--victoria {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--umar {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: url(../images/doctors-Umar.png) no-repeat;
  background-size: cover;
  background-position-x: center;
}

.doctors__container__card--melissa {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--bob {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--george {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container__card--mark {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: url(../images/doctors-mark.png) no-repeat;
  background-size: cover;
  background-position-x: center;
}

.doctors__container__card--malcolm {
  width: 270px;
  height: 335px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.doctors__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doctors__container__card {
  position: relative;
  margin-bottom: 30px;
}

.doctors__container__card__name {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #303030;
  margin: 30px 0 10px 20px;
}

.doctors__container__card__position {
  margin: 0 0 0 20px;
}

.doctors__social {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 0.5px solid #E6E6E6;
  border-radius: 3px;
  width: 30%;
  padding: 7px 25px;
  left: 25%;
  bottom: 15%;
}

.doctors__social--facebook::before {
  content: url(../icons/footer-facebook.svg);
}

.doctors__social--twitter::before {
  content: url(../icons/footer-twitter.svg);
}

.doctors__social--instagram::before {
  content: url(../icons/footer-instagram.svg);
}

.doctors__btn {
  display: flex;
  justify-content: center;
  margin: 40px 0 100px 0;
}

.reviews {
  width: 100%;
  padding: 6% 0;
  background-color: #E6E6E6;
}

.reviews__container {
  width: 1200px;
  margin: 0 auto;
}

.reviews__container__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__container__info p {
  text-align: right;
  max-width: 570px;
}
.reviews__container__info h2 {
  text-align: right;
}

.reviews__container__info--img {
  width: 570px;
  height: 280px;
  background: url(../images/reviews-massage.png) no-repeat;
  background-size: cover;
}

.doctors {
  margin-top: 100px;
}

.container__products__select {
  background-color: #E27D60;
  height: 77px;
}

.section__products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 48px;
}
.section__products button {
  cursor: pointer;
  background: none;
  border: none;
}
.section__products ul {
  display: flex;
  max-width: 1200px;
}
.section__products ul button {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.section__products ul button::after {
  content: url(../icons/product-arrow.svg);
  position: relative;
  top: 4px;
}

.product-search::before {
  content: url(../icons/product-search.svg);
}

.product-menu::before {
  content: url(../icons/product-menu.svg);
}

.product {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 7%;
}
.product .buttons {
  width: 100%;
}
.product ul {
  list-style: inside;
}

.product__images {
  display: flex;
}
.product__images div {
  width: 200px;
}

.product__images--backside,
.product__images--features,
.product__images--photosection {
  width: 170px;
  height: 170px;
  margin-bottom: 30px;
}

.product__images--photosection {
  margin-bottom: 0;
}

.product__massage_oil {
  width: 370px;
  height: 570px;
}

.product__title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Libre Franklin", sans-serif;
  color: #303030;
  margin-top: 10px;
}

.product__rating-text::before {
  content: url(../icons/product-rating.svg);
  padding-right: 20px;
  padding-top: 2px;
}

.product__rating-text {
  font-size: 16px;
  font-weight: bold;
  font-family: "Libre Franklin", "sans-serif";
}

.product__category {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.product__category--name {
  background-color: #E27D60;
  height: 20px;
  width: 135px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 0;
  margin: 0;
}

.product__reactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: white;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  width: 120px;
  height: 34px;
}

.product__reactions__like {
  width: 24px;
  height: 24px;
}

.product__reactions__share {
  width: 24px;
  height: 24px;
}

.product__amount {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #E6E6E6;
  border-radius: 3px;
  width: 100px;
  height: 42px;
  margin: 40px 0;
}

.product__left-arrow::before {
  content: url(../icons/product-left-arrow.svg);
  padding-right: 18px;
}

.product__right-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product__left-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product__right-arrow::before {
  content: url(../icons/product-right-arrow.svg);
  padding-left: 18px;
}

.product__number {
  font-size: 20px;
  font-weight: bold;
  color: #303030;
  margin: auto 0;
}

.product__info {
  font-size: 16px;
  line-height: 19px;
  color: #303030;
  opacity: 0.5;
  font-family: "Work Sans", sans-serif;
}

.product__text {
  max-width: 1200px;
  margin: 50px auto;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  color: #303030;
}
.product__text ul {
  list-style: outside;
  padding-left: 15px;
}

.product__social-media {
  margin: 40px 0;
}
.product__social-media ul {
  list-style: none;
  justify-content: left;
}

footer {
  width: 100%;
}

.form__massage {
  background: url(../images/footer_img.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 275px;
  color: white;
  margin: 0;
}

.form-bg__flowers {
  background: url(../images/footer-aboutUs.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  color: white;
  margin: 0;
}

.form__hand {
  background: url(../images/footer-hand.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 275px;
  color: white;
  margin: 0;
}

.form__info {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
}

.form__info--block {
  display: block;
}

.form__info--light {
  font-weight: lighter;
  font-size: 16px;
}

.form__info--bold {
  font-weight: bolder;
  font-size: 36px;
}

.our-team-form-label {
  display: block;
  width: 600px;
}

.form__info__description {
  font-size: 18px;
  width: 350px;
}
.form__info__description span {
  color: #E27D60;
}

#email-formInfo {
  width: 45%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  margin: 0 30px;
}

.form__hand--container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 275px;
  margin-top: 40px;
}

.form__hand--block {
  display: block;
}

.form__hand--light {
  font-weight: lighter;
  font-size: 16px;
}

.form__hand--bolt {
  font-weight: bolder;
  font-size: 36px;
}

.form__container-hand {
  width: 60%;
}

.form__hand .our-team-form-label {
  display: block;
  width: 600px;
}

.form__hand--description {
  font-size: 18px;
  width: 350px;
}
.form__hand--description span {
  color: #E27D60;
}

.form__hand #name-hand {
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  margin-top: 30px;
}

.form__hand #email-hand {
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  margin: 30px 0;
}

.form__our-team {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  margin-top: 40px;
}

.form__our-team--block {
  display: block;
}

.form__our-team--light {
  font-weight: lighter;
  font-size: 16px;
}

.form__our-team--bolt {
  font-weight: bolder;
  font-size: 36px;
}

.form__our-team .our-team-form-label {
  display: block;
  width: 600px;
}

.form__our-team--description {
  font-size: 18px;
  width: 350px;
}
.form__our-team--description span {
  color: #E27D60;
}

.form__card-our-team {
  width: 370px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  color: #303030;
  padding: 30px;
}

#name-our-team, #phone-our-team,
#email-our-team {
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  margin-top: 30px;
}

.form__politics {
  display: flex;
  margin: 30px 0;
}

.form__politics--label {
  margin-left: 10px;
}
.form__politics--label span {
  color: #E27D60;
}

.footer {
  background-color: #303030;
  background-color: #303030;
  width: 100%;
}

.footer__nav {
  background-color: #303030;
  color: #E27D60;
  color: #E27D60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__nav--logo {
  background: url(../images/millious-footer.png) no-repeat;
  background-size: cover;
  height: 20px;
  width: 100px;
}

.footer__nav__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__nav__social li {
  position: relative;
}

.footer__nav__social--facebook::before {
  content: url(../icons/footer-facebook.svg);
  margin-right: 15px;
}

.footer__nav__social--vimeo::before {
  content: url(../icons/footer-vimeo.svg);
  margin-right: 15px;
}

.footer__nav__social--instagram::before {
  content: url(../icons/footer-instagram.svg);
  margin-right: 15px;
}

.footer__nav__social--twitter::before {
  content: url(../icons/footer-twitter.svg);
}

.footer__list {
  display: flex;
  justify-content: right;
}
.footer__list li {
  list-style: none;
  margin-top: 20px;
  padding: 0 60px;
}
.footer__list a {
  text-decoration: none;
  color: white;
}

.footer__list--info {
  display: flex;
  flex-direction: column;
}
.footer__list--info span {
  justify-content: center;
  padding: 0 60px;
}

.footer__list--quick-links {
  display: flex;
  flex-direction: column;
}
.footer__list--quick-links span {
  justify-content: left;
  padding: 0 60px;
}

.footer__list--contact {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer__list--contact span {
  justify-content: left;
  padding: 0 60px;
}

.footer__rights {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}
.footer__rights p {
  font-size: 14px;
}

.form__contact {
  background-color: #fff;
}

input::placeholder {
  font-weight: lighter;
  opacity: 0.5;
  padding: 10px;
}

/*# sourceMappingURL=styles.css.map */
